# Node Environment
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# Python Environment
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
assets
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
conformer_model
env.bak/
venv.bak/

# OpenVINO & Machine Learning Models
openvino_models/
*.bin
*.xml
*.pt
*.pth
*.safetensors
*.onnx

# OS / Editor Files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


